<h1>New Todo</h1>
<form method="post" action="/todos">
  <label for="todo-description">Todo: </label>
  <input id="todo-desciption" type="text" name="description" value="" placeholder="Enter a todo"><br>
  <label for="todo-description">Urgent: </label>
  <input type="radio" name="urgent" value="true" checked> True
  <input type="radio" name="urgent" value="false"> False<br>
  <button type="submit" name="button">Submit</button>
</form>
