<h1>New ToDon't</h1>
<form method="post" action="/todonts/">
  <div class="form-group">
    <label for="todont-description">Description</label>
    <input type="text" class="form-control" name="description" id="todont-description">
  </div>
  <div class="form-group">
    <label for="todont-urgent">Urgent</label>
    <input type="text" class="form-control" name="urgent" id="todont-urgent">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
